<div class="row">
  <div class="col-sm-12">
    <h1>New Step</h1>
  </div>
</div>

<%= form_for :direction, url: meal_directions_path(@meal) do |f| %>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3"> 
      <div class="form-group">
        <%= f.label :step %><br>
        <%= f.text_area :step, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row button-wrapper">
    <div class="col-sm-12">
      <div class="form-group">
        <%= f.submit "Submit", class: "btn btn-default" %>
      </div>
    </div>
  </div>
<% end %>

<div class="row button-wrapper">
  <div class="col-sm-12">
    <i class="fa fa-arrow-left"></i> <%= link_to "Back", meal_path(@meal) %>
  </div>
</div>