<%= form_for @entry do |f| %>
  
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      
      <!-- MEAL -->
      <div class="form-group">
        <%= f.collection_select :meal_id, Meal.all, :id, :name, {prompt: "Select a meal"}, {class: "form-control"}  %>
      </div>

      <!-- NOTE -->
      <div class="form-group">
        <%= f.label :note %><br>
        <%= f.text_field :note, class: "form-control" %>
      </div>

      <!-- TAG -->
       <div class="form-group">
        <%= f.label :tag, "Meal" %><br>
        <% if @tags %>
          <% @tags.each do |tag| %>
            <%= f.radio_button(:tag, tag) %> &nbsp;
            <%= f.label(:tag, tag, class: "radio-button") %><br>
          <% end %>
        <% end %>
      </div>

      <!-- DAY -->
      <%= f.hidden_field :day, :value => params[:day] %>

      <!-- SUBMIT BUTTON -->
      <div class="form-group button-wrapper">
        <%= f.submit "Submit", class: "btn btn-default" %>
      </div>
    </div>
  </div>

<% end %>
