<% @is_fluid = true %>

  <div class="row">
    <div class="col-sm-12">
      <h1>Entries</h1>
    </div>
  </div>

 <!-- NAV -->
  <nav>
    <ul class="pager">
      <li class="previous"><%= link_to raw("<span aria-hidden='true'>&larr;</span> Prev"), entries_path(:date => "#{@start-1.week}") %></li>
      <li><%= link_to "Today", entries_path %></li>
      <li class="next"><%= link_to raw("Next <span aria-hidden='true'>&rarr;</span>"), entries_path(:date => "#{@start+1.week}") %></li>
    </ul>
  </nav>

<!-- WEEK -->
<div class="row">
  <div class="week-wrapper">

    <!-- DAY  -->
    <% @week.each do |day| %>
        
      <div class="col-sm-2 day-wrapper">
        <h4><%= day.strftime("%a %d") %></h4>
        <%= link_to raw("<i class='fa fa-plus'></i>"), "#entriesModal", :data => {:toggle => "modal", :day => day.strftime('%F')}, class: "modal-link pull-right" %>
        <br>

          <!-- BREAKFAST -->
          <% breakfast = Entry.where(tag: "Breakfast", day: day.strftime('%F')) %>
            <% unless breakfast.empty? %>
              <h5>Breakfast</h5>
              <ul class="breakfast-list">
                <%= render partial: "meal", collection: breakfast, as: :entry %>
              </ul>
            <% end %>
        
          <!-- LUNCH -->
          <% lunch = Entry.where(tag: "Lunch", day: day.strftime('%F')) %>
            <% unless lunch.empty? %>
              <h5>Lunch</h5>
              <ul class="lunch-list">
                <%= render partial: "meal", collection: lunch, as: :entry %>
              </ul>
            <% end %>
        
          <!-- DINNER -->
          <% dinner = Entry.where(tag: "Dinner", day: day.strftime('%F')) %> 
            <% unless dinner.empty? %>
              <h5>Dinner</h5>
              <ul class="dinner-list">
                <%= render partial: "meal", collection: dinner, as: :entry %>
              </ul>
            <% end %>
        
          <!-- SNACK -->
          <% snack = Entry.where(tag: "Snack", day: day.strftime('%F')) %>
            <% unless snack.empty? %>
              <h5>Snack</h5>
              <ul class="snack-list">
                <%= render partial: "meal", collection: snack, as: :entry %>
              </ul>
            <% end %>

          <% if breakfast.length > 0 || lunch.length > 0 || dinner.length > 0 || snack.length > 0 %>
          <% entriesForToday = Entry.where(day: day.strftime('%F')) %>
            <div class="day-nutrition">
              <h5>Total:</h5>
              <ul>
                <% calories = :calories %>
                <% protein = :protein %>
                <% carbs = :carbs %>
                <% fat = :fat %>
                
                <li>Calories: <span><%= calculate_nutrition(entriesForToday, calories) %></span></li>
                <li>Protein: <span><%= calculate_nutrition(entriesForToday, protein) %></span></li>
                <li>Carbs: <span><%= calculate_nutrition(entriesForToday, carbs) %></span></li>
                <li>Fat: <span><%= calculate_nutrition(entriesForToday, fat) %></span></li>
              </ul>
            </div>
          <% end %>
      </div> <!-- end of .day-wrapper -->

    <% end %>
  </div> <!-- end of .week-wrapper -->
 </div>



  <!-- MODAL -->
  <div class="modal fade" id="entriesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">New Entry</h4>
        </div>

        <div class="modal-body">
          <%= render "new_entry" %>
        </div>
      
      </div>






