<div id="entries-wrapper">
  <div class="row">
    <div class="col-sm-12">
      <h1>Entries</h1>
    </div>
  </div>

  <div class="row days-row">
    <div class="col-xs-2">
      <h3>M <%= @start.day %></h3>
    </div>
    <div class="col-xs-2">
      <h3>T <%= (@start + 1.day).day %></h3>
    </div>
    <div class="col-xs-2">
      <h3>W <%= (@start + 2.days).day %></h3>
    </div>
    <div class="col-xs-2">
      <h3>Th <%= (@start + 3.days).day %></h3>
    </div>
    <div class="col-xs-2">
      <h3>F <%= (@start + 4.days).day %></h3>
    </div>
    <div class="col-xs-2">
      <h3>S <%= (@start + 5.days).day %></h3>
    </div>
  </div>

  <div class="row breakfast-row">
    <% (1..6).each do |i| %>
      <div class="col-xs-2">
        <div class="header"><h5>Breakfast</h5></div>
        <div class="content"><%= link_to "Add", new_entry_path(:day => "Monday", :tag => "Breakfast") %></div>
      </div>
    <% end %>
  </div>

  <div class="row lunch-row">
    <% (1..6).each do |i| %>
      <div class="col-xs-2">
        <div class="header"><h5>Lunch</h5></div>
        <div class="content"><%= link_to "Add", new_entry_path(:day => "Monday", :tag => "Lunch") %></div>
      </div>
    <% end %>
  </div>

  <div class="row dinner-row">
    <% (1..6).each do |i| %>
      <div class="col-xs-2">
        <div class="header"><h5>Dinner</h5></div>
        <div class="content"><%= link_to "Add", new_entry_path(:day => "Monday", :tag => "Dinner") %></div>
      </div>
    <% end %>
  </div>

  <div class="row snack-row">
    <% (1..6).each do |i| %>
      <div class="col-xs-2">
        <div class="header"><h5>Snack</h5></div>
        <div class="content"><%= link_to "Add", new_entry_path(:day => "Monday", :tag => "Snack") %></div>
      </div>
    <% end %>
  </div>