<%= form_for @meal do |f| %>

 <div class="row">
    <div class="col-sm-12">
      <% if @meal.errors.any? %>
        <ul id="error-messages-wrapper">
          <% @meal.errors.full_messages.each do |msg| %>
            <li class="error-messages"><i class="fa fa-caret-right"></i> <%= msg %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <!-- MEAL -->
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <!-- NAME -->
      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <!-- DESCRIPTION -->
      <div class="form-group">
        <%= f.label :description %><br>
        <%= f.text_area :description, class: "form-control" %>
      </div>

      <!-- AVATAR -->
      <div class="form-group">
        <%= f.label :avatar, "Photo" %>
        <%= f.file_field :avatar %>
      </div>

      <!-- TAG -->
      <div class="form-group">
        <%= f.label :tag, "Meal" %><br>
        <% if @tags %>
          <% @tags.each do |tag| %>
            <%= f.radio_button(:tag, tag) %> &nbsp;
            <%= f.label(:tag, tag, class: "radio-button") %><br>
          <% end %>
        <% end %>
      </div>

      <!-- SERVINGS -->
      <div class="form-group">
        <%= f.label :servings %><br>
        <%= f.number_field :servings, class: "form-control" %>
      </div>
    </div>

  </div>

  <!-- INGREDIENTS -->
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h5 class="form-header">Ingredients</h5> 
      <button id="more-ingredients-button" class="btn btn-link" type="button"><i class="fa fa-plus"></i></button>
    </div>
  </div>

  <%= f.fields_for :ingredients do |ff| %>

    <!-- AMOUNT -->
    <div class="row">
      <div class="col-sm-3 col-sm-offset-3">  
        <div class="form-group">
          <%= ff.text_field :amount, class: "form-control", placeholder: "Amount" %>
        </div>
      </div>

      <!-- NAME -->
      <div class="col-sm-3">
        <div class="form-group">
          <%= ff.text_field :name, class: "form-control", placeholder: "Name" %>
        </div>
      </div>
    
    </div>

  <% end %>

  <!-- INGREDIENTS ADDED FROM JS -->
  <div id="more-ingredients-wrapper"></div>


  <!-- DIRECTIONS -->
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h5 class="form-header">Directions</h5> 
      <button id="more-directions-button" class="btn btn-link" type="button"><i class="fa fa-plus"></i></button>
    </div>
  </div>

  <%= f.fields_for :directions do |ff| %>

    <!-- STEP -->
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">

        <div class="form-group">
          <%= ff.text_area :step, class: "form-control", placeholder: "Step #{ff.index + 1}" %>
        </div>
      </div>
    </div>

  <% end %>

  <!-- DIRECTIONS ADDED FROM JS -->
  <div id="more-directions-wrapper"></div>


  <%= f.fields_for :nutrition do |ff| %>
    <div class="row">
      <div class="col-sm-3 col-sm-offset-3">
        <div class="form-group">
          <%= ff.label :calories, "Nutrition" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-sm-offset-3">
        <%= ff.number_field :calories, class: "form-control", placeholder: "Calories" %>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <%= ff.number_field :protein, class: "form-control", placeholder: "Protein (grams)" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-sm-offset-3">
        <div class="form-group">
          <%= ff.number_field :carbs, class: "form-control", placeholder: "Carbs (grams)" %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <%= ff.number_field :fat, class: "form-control", placeholder: "Fat (grams)" %>
        </div>
      </div>
    </div>


  <% end %>


  <!-- SUBMIT BUTTON --> 
  <div class="row"> 
    <div class="col-xs-12">
      <div class="form-group" id="submit-button-wrapper">
        <%= f.submit "Submit", class: "btn btn-default" %>
      </div>
    </div>
  </div>

<% end %>