<!DOCTYPE html>
<html>
  <head>
    <title>Recipe App</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
    <!-- GOOGLE FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Quicksand:300|Open+Sans:400,300|Lobster' rel='stylesheet' type='text/css'>
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
  </head>

  <body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- LOGO -->
        <div class="navbar-header">
          <%= link_to root_path, class: "navbar-brand" do %>
            <%= image_tag("logo.png", class: "logo") %>
          <% end %>
        </div>
        <!-- LINKS -->
        <ul class="nav navbar-nav">
          <li><%= link_to "Entries", entries_path, class: "#{'active' if controller?('entries') && action?('index')}" %></li>
          <li><%= link_to "Meals", root_path, class: "#{'active' if controller?('meals') && action?('index')}" %></li>
          <li><%= link_to "New", new_meal_path, class: "#{'active' if controller?('meals') && action?('new')}" %></li>
        </ul>
      </div>
    </nav>

    <!-- CONTENT -->

    <div class="<%= @is_fluid ? "container-fluid" : "container" %>">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      
      <%= yield %>
      
    </div>

  </body>
</html>
